<div fxLayout="row" fxLayoutAlign="space-between center" class="p-2">
    <div fxLayout="row">
        <mat-button-toggle-group #controls="matButtonToggleGroup" appearance="legacy">
            <mat-button-toggle value="add" (click)="gotoNewTenant()">
                <mat-icon>person_add</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="search">
                <mat-icon>search</mat-icon>
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <form class="user-search" [class.show]="controls.value == 'search'">
        <mat-form-field class="user-search-input">
            <input matInput placeholder="{{ 'HTML.SEARCH_TENANT' | translate }}" [(ngModel)]="searchText" name="search" autocomplete="off">
        </mat-form-field>
    </form>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-button-toggle-group #viewType="matButtonToggleGroup" appearance="legacy" value="list">
            <mat-button-toggle value="list">
                <mat-icon>view_list</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="grid">
              <mat-icon>view_module</mat-icon>
            </mat-button-toggle>          
        </mat-button-toggle-group>
    </div>
</div>

<mat-divider> </mat-divider>

<mat-card>
  <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="w-100 p-3">
      <h2>{{ 'HTML.TENANTS_LIST' | translate }}</h2>
  </div>
  <mat-divider></mat-divider>
  <div class="mat-mdc-table admin-table">
      <div class="mat-mdc-header-row">
          <div class="mat-mdc-header-cell"><h2> {{ 'FIELD.NAME' | translate }} </h2></div>
          <div class="mat-mdc-header-cell"><h2> {{ 'HTML.MOBILE' | translate }} </h2></div>
          <div class="mat-mdc-header-cell"><h2> {{ 'HTML.GENDER' | translate }} </h2></div>
          <div class="mat-mdc-header-cell"><h2> {{ 'HTML.BUILDING' | translate }} </h2></div>
          <div class="mat-mdc-header-cell"><h2> {{ 'HTML.UNIT' | translate }} </h2></div>
          <div class="mat-mdc-header-cell"><h2> {{ 'HTML.ACTIVATED' | translate }} </h2></div>
          <div class="mat-mdc-header-cell"></div>
      </div>
      <div *ngFor="let oneuser of users | paginate: { itemsPerPage: count, currentPage: page }" class="mat-mdc-row">
          <div class="mat-mdc-cell">{{oneuser.CUSName}}</div>
          <div class="mat-mdc-cell">{{oneuser.CUSMobile}}</div>
          <div class="mat-mdc-cell">{{oneuser.CUSGenderDisplay}}</div>
          <div class="mat-mdc-cell"> {{ oneuser.build_Name  }} </div>
          <div class="mat-mdc-cell"> {{ oneuser.unit_Name  }} </div>

          <div class="mat-mdc-cell">
              <mat-icon class="text-muted">{{ (oneuser.CUSActive=='T') ? 'check_box' : 'check_box_outline_blank'}}</mat-icon>
          </div>

          <div class="mat-mdc-cell">
              <div class="p-2 actions">
                  <!-- <button mat-mini-fab color="primary" matTooltip="{{ 'BTN.EDIT' | translate }}" (click)="openTenantDialog(oneuser)"> -->
                  <!-- <button mat-mini-fab color="primary" matTooltip="{{ 'BTN.EDIT' | translate }}" (click)="gotoTenantDisplay(oneuser.id)">
                      <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-mini-fab color="warn" matTooltip="{{ 'BTN.REMOVE' | translate }}" class="mx-1" (click)="remove(oneuser.id)">
                      <mat-icon>delete</mat-icon>
                  </button> -->
                  <a [routerLink]="['/contracts/tenant-add/', oneuser.id]" mat-mini-fab color="primary" matTooltip="{{ 'BTN.EDIT' | translate }}"><mat-icon>edit</mat-icon></a>
                  <!-- <a [routerLink]="['/products/product-detail/', oneuser.id]" mat-mini-fab color="primary" matTooltip="View" class="mx-2"><mat-icon>remove_red_eye</mat-icon></a> -->
                  <button mat-mini-fab color="warn" matTooltip="{{ 'BTN.REMOVE' | translate }}" (click)="removeTenant(oneuser.id)"><mat-icon>delete</mat-icon></button>
                  <a [routerLink]="['/contracts/statements-list/', oneuser.id]" mat-mini-fab color="primary" matTooltip="{{ 'BTN.Statements' | translate }}"><mat-icon>receipt</mat-icon></a>
              </div>
          </div>
      </div>
  </div>
</mat-card>

<!-- <div *ngIf="viewType.value == 'grid'" fxLayout="row wrap">
    <div *ngFor="let user of customerDisplayed | UserSearchPipe : searchText | paginate: { itemsPerPage: 6, currentPage: page }" fxFlex="100" fxFlex.gt-md="33.3" fxFlex.md="50" class="p-2">
        <mat-card>
            <div class="bg-primary" fxLayout="row" fxLayoutAlign="space-between center">
                <h3 *ngIf="!user.settings.isDeleted" class="user-name">{{user.profile.name}} {{user.profile.surname}}</h3>
                <h3 *ngIf="user.settings.isDeleted" class="user-name">User blocked</h3>
                <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </div>
            <mat-menu #menu="matMenu" xPosition="before" overlapTrigger="true">
                <span (mouseleave)="menuTrigger.closeMenu()">
                    <button mat-menu-item (click)="openTenantDialog(user)">
                        <mat-icon>mode_edit</mat-icon>
                        <span>Edit</span>
                    </button>
                    <button mat-menu-item (click)="deleteUser(user);">
                        <mat-icon>delete</mat-icon>
                        <span>Delete</span>
                    </button>
                </span>
            </mat-menu>
            <div class="user-content" fxLayout="row" fxLayoutAlign="space-around center">
                <div fxFlex="30" fxLayout="column" fxLayoutAlign="center center">
                    <div class="user-img">
                        <img *ngIf="user.profile.image" [src]="user.profile.image" class="transition-2" [class.blocked]="user.settings.isDeleted">
                        <img *ngIf="!user.profile.image" src="assets/images/others/user.jpg" class="transition-2" [class.blocked]="user.settings.isDeleted">
                        <mat-icon *ngIf="user.settings.isDeleted" color="warn">block</mat-icon>
                    </div>
                    <div class="user-social">
                        <mat-slide-toggle color="primary" [checked]="user.settings.isDeleted" (change)="user.settings.isDeleted = !user.settings.isDeleted"></mat-slide-toggle>
                    </div>
                </div>
                <div fxFlex="70" fxLayout="column" class="user-details transition-2" [class.blocked]="user.settings.isDeleted">
                    <p fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon class="text-muted">card_membership</mat-icon>
                        <span>{{user.work.position}}</span>
                    </p>
                    <p fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon class="text-muted">mail_outline</mat-icon>
                        <span>{{user.contacts.email}}</span>
                    </p>
                    <p fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon class="text-muted">call</mat-icon>
                        <span>{{user.contacts.phone}}</span>
                    </p>
                    <p fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon class="text-muted">location_on</mat-icon>
                        <span>{{user.contacts.address}}</span>
                    </p>
                    <p fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon class="text-muted">date_range</mat-icon>
                        <span>Joined {{user.settings.joinedDate | date:"dd MMMM, yyyy 'at' HH:mm"}}</span>
                    </p>
                </div>
            </div>
        </mat-card>
    </div>
</div> -->




<!-- <div *ngIf="viewType.value == 'list'" fxLayout="row wrap">
    <div *ngFor="let user of customerDisplayed | UserSearchPipe : searchText | paginate: { itemsPerPage: 6, currentPage: page }" fxFlex="100" class="p-2">
        <mat-card>
            <div class="bg-primary" fxLayout="row" fxLayoutAlign="space-between center">
                <h3 *ngIf="!user.settings.isDeleted" class="user-name">{{user.profile.name}} {{user.profile.surname}}</h3>
                <h3 *ngIf="user.settings.isDeleted" class="user-name">User blocked</h3>
                <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </div>
            <mat-menu #menu="matMenu" xPosition="before"  overlapTrigger="true">
                <span (mouseleave)="menuTrigger.closeMenu()">
                    <button mat-menu-item (click)="openTenantDialog(user);">
                        <mat-icon>mode_edit</mat-icon>
                        <span>Edit</span>
                    </button>
                    <button mat-menu-item (click)="deleteUser(user);">
                        <mat-icon>delete</mat-icon>
                        <span>Delete</span>
                    </button>
                </span>
            </mat-menu>
            <div class="user-content" fxLayout="row" fxLayoutAlign="space-around center">
                <div fxFlex="20" fxFlex.xs="30" fxLayout="column" fxLayoutAlign="center center">
                    <div class="user-img">
                        <img *ngIf="user.profile.image" [src]="user.profile.image" class="transition-2" [class.blocked]="user.settings.isDeleted">
                        <img *ngIf="!user.profile.image" src="assets/img/users/default-user.jpg" class="transition-2" [class.blocked]="user.settings.isDeleted">
                        <mat-icon *ngIf="user.settings.isDeleted" color="warn">block</mat-icon>
                    </div>
                    <div class="user-social">
                        <mat-slide-toggle color="primary" [checked]="user.settings.isDeleted" (change)="user.settings.isDeleted = !user.settings.isDeleted"></mat-slide-toggle>
                    </div>
                </div>
                <div fxFlex="80" fxFlex.xs="70" fxLayout="row" fxLayout.xs="column" class="user-details transition-2" [class.blocked]="user.settings.isDeleted">
                    <div fxFlex="30" fxFlex.xs="100" fxLayout="column">
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="text-muted">business</mat-icon>
                            <span>{{user.work.company}}</span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="text-muted">card_membership</mat-icon>
                            <span>{{user.work.position}}</span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="text-muted">attach_money</mat-icon>
                            <span>{{user.work.salary}}</span>
                        </p>
                    </div>
                    <div fxFlex="30" fxFlex.xs="100" fxLayout="column">
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="text-muted">mail_outline</mat-icon>
                            <span>{{user.contacts.email}}</span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="text-muted">call</mat-icon>
                            <span>{{user.contacts.phone}}</span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="text-muted">location_on</mat-icon>
                            <span>{{user.contacts.address}}</span>
                        </p>
                    </div>
                    <div fxFlex="40" fxFlex.xs="100" fxLayout="column">
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="text-muted">event_available</mat-icon>
                            <span>Registration {{user.settings.registrationDate | date:"dd MMMM, yyyy 'at' HH:mm"}}</span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="text-muted">date_range</mat-icon>
                            <span>Joined {{user.settings.joinedDate | date:"dd MMMM, yyyy 'at' HH:mm"}}</span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon *ngIf="user.settings.isDeleted" class="text-muted">person_outline</mat-icon>
                            <mat-icon *ngIf="!user.settings.isDeleted" class="text-muted">person</mat-icon>
                            <span>{{ (user.settings.isDeleted) ? 'Blocked' : 'Active' }}</span>
                        </p>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>  -->



<div *ngIf="users" fxLayout="row wrap">
    <div fxFlex="100" class="p-2">
        <mat-card class="text-center">
            <pagination-controls class="product-pagination" autoHide="true" maxSize="5" (pageChange)="onPageChanged($event)"></pagination-controls>
        </mat-card>
    </div>
</div>

<div *ngIf="!users" fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
    <mat-spinner color="primary"></mat-spinner>
</div>

