<div class="p-2">
    <mat-card>
        <mat-card-header>
            <mat-card-title><h1><span *ngIf="!payDocForDisplay.id">{{ 'BTN.ADD' | translate }}</span><span *ngIf="payDocForDisplay.id">{{ 'BTN.EDIT' | translate }}</span> {{ 'HTML.PayableDoc' | translate }}</h1></mat-card-title>
            <!-- <h1 mat-dialog-title><span *ngIf="!curCOMId">{{ 'BTN.ADD' | translate }}</span><span *ngIf="curCOMId">{{ 'BTN.EDIT' | translate }}</span> {{ 'ADMIN_NAV.COMPANY' | translate }}</h1> -->
        </mat-card-header>
        <mat-card-content class="pt-3">
            <form [formGroup]="docData_Form" (ngSubmit)="saveEditDocData(payDocForDisplay.id)" autocomplete="off" fxLayout="row wrap">
                <div fxFlex="100" fxFlex.gt-sm="40" class="px-2">
                    <img width="400" height="300" id="campanyLogo" [src]="'assets/images/paymentDocs/payable.png'" />                    
                </div>
                <div fxFlex="100" fxFlex.gt-sm="60" class="px-2">
                  <div fxLayout="row wrap">
                      <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
                          <mat-form-field appearance="outline" class="w-100">
                              <mat-label>{{ 'HTML.CODE' | translate }}</mat-label>
                              <!-- <input matInput formControlName="PDOCode" required>
                              <mat-error *ngIf="docData_Form.controls.PDOCode.errors?.required">Arabic Name is required</mat-error>
                              <mat-error *ngIf="docData_Form.controls.PDOCode.hasError('minlength')">Arabic Name isn't long enough, minimum of 4 characters</mat-error> -->
                              <input matInput formControlName="PDOCode">                              
                          </mat-form-field>
                      </div>
                      <div fxFlex="100" fxFlex.gt-sm="75" class="px-1">
                        <mat-form-field appearance="outline" class="w-100">
                          <mat-label> {{ 'HTML.TENANT' | translate }}</mat-label>
                          <mat-select (selectionChange)="readCustumer($event)" placeholder="{{ 'HTML.TENANT' | translate }}" formControlName="customer_KeyField" id="oneCustomOpSel">
                            <mat-option [value]="">-</mat-option>
                            <mat-option *ngFor="let tenant of AllTenants" [value]="tenant.id">
                                {{tenant.CUSName}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>

                      <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
                        <mat-form-field appearance="outline" class="w-100">
                          <mat-label>{{ 'HTML.DocDate' | translate }}</mat-label>
                          <input matInput [matDatepicker]="pdoDocDate" formControlName="PDODocDate" required>
                          <mat-datepicker-toggle matSuffix [for]="pdoDocDate"></mat-datepicker-toggle>
                          <mat-datepicker #pdoDocDate></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div fxFlex="100" fxFlex.gt-sm="50" class="px-1">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{ 'HTML.DocValue' | translate }}</mat-label>
                            <input matInput formControlName="PDOValue" required>
                        </mat-form-field>
                      </div>
                      <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{ 'HTML.DocPrintedNo' | translate }}</mat-label>
                            <input matInput formControlName="PDOPrintedCode">
                        </mat-form-field>
                      </div>
                      <div fxFlex="100" fxFlex.gt-sm="100" class="px-1">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{ 'HTML.DocSecondPart_PayableDoc' | translate }}</mat-label>
                            <input matInput formControlName="PDODocSecondPerson" required>
                        </mat-form-field>
                      </div>

                      <div fxFlex="100" class="px-1">
                          <mat-form-field appearance="outline" class="w-100">
                              <mat-label>{{ 'HTML.Notes' | translate }}</mat-label>
                              <textarea matInput formControlName="PDONotes" rows="3"></textarea>
                          </mat-form-field>
                      </div>

                      <div fxFlex="100" class="mt-2 text-center w-100">
                          <button mat-raised-button color="primary" type="submit" [disabled]="!docData_Form.valid">{{ 'BTN.SAVE' | translate }}</button>
                      </div>
                  </div>
              </div>
            </form>
        </mat-card-content>
  
    </mat-card>
  </div>
