<h1 mat-dialog-title><span *ngIf="!user.id">{{ 'BTN.ADD' | translate }}</span><span *ngIf="user.id">{{ 'BTN.EDIT' | translate }}</span> {{ 'HTML.EMPLOYEE' | translate }}</h1>
<div mat-dialog-content>
    <form [formGroup]="form" class="user-form">
        <mat-tab-group class="vertical-tabs tab-content-wrapped">
            <mat-tab label="{{ 'HTML.TAB_BASIC' | translate }}">
                <div fxLayout="column" class="form-field-outer">
                  <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
                    <mat-form-field class="w-20">
                      <mat-label><mat-icon>person</mat-icon> {{ 'HTML.CODE' | translate }}</mat-label>
                      <input matInput formControlName="UserCode" required>
                      <!-- <input matInput formControlName="UserCode" required>
                      <mat-error *ngIf="form.controls.code.errors?.required">Code is required</mat-error>
                      <mat-error *ngIf="form.controls.code.hasError('minlength')">Code isn't long enough, minimum of 4 characters</mat-error> -->
                    </mat-form-field>

                    <mat-form-field class="w-30">
                        <mat-label><mat-icon>person</mat-icon> {{ 'HTML.USERNAME' | translate }}</mat-label>
                        <input matInput formControlName="username" required>
                        <mat-error *ngIf="form.controls.username.errors?.required">Username is required</mat-error>
                        <mat-error *ngIf="form.controls.username.hasError('minlength')">Username isn't long enough, minimum of 3 characters</mat-error>
                    </mat-form-field>

                    <mat-form-field *ngIf="!user.id" class="w-45">
                      <mat-label><mat-icon>vpn_key</mat-icon> {{ 'HTML.PASSWORD' | translate }}</mat-label>
                      <input matInput formControlName="password" required [type]="passwordHide ? 'password' : 'text'">
                      <mat-icon matSuffix (click)="passwordHide = !passwordHide">{{passwordHide ? 'visibility' : 'visibility_off'}}</mat-icon>
                      <mat-error *ngIf="form.controls.password.errors?.required">Password is required</mat-error>
                      <mat-error *ngIf="form.controls.password.hasError('minlength')">Password isn't long enough, minimum of 6 characters</mat-error>
                  </mat-form-field>
                  </div>

                  <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
                    <mat-form-field class="w-45">
                      <mat-label><mat-icon>person</mat-icon> {{ 'HTML.FIRST_NAME' | translate }}</mat-label>
                      <input matInput formControlName="first_name" required>
                      <mat-error *ngIf="form.controls.first_name.errors?.required">First name is required</mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-50">
                      <mat-label><mat-icon>person</mat-icon> {{ 'HTML.LAST_NAME' | translate }}</mat-label>
                      <input matInput formControlName="last_name" required>
                      <mat-error *ngIf="form.controls.last_name.errors?.required">Last name is required</mat-error>
                    </mat-form-field>
                  </div>

                  <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
                    <mat-radio-group formControlName="gender">
                      <mat-radio-button value="M" labelPosition="after">{{ 'HTML.MALE' | translate }}</mat-radio-button>
                      <mat-radio-button value="F" labelPosition="after">{{ 'HTML.FEMALE' | translate }}</mat-radio-button>
                    </mat-radio-group>

                    <mat-form-field class="w-50">
                        <mat-label>{{ 'HTML.BIRTH_DATE' | translate }}</mat-label>
                        <input matInput [matDatepicker]="birthday" formControlName="UserBirthDate">
                        <mat-datepicker-toggle matSuffix [for]="birthday"></mat-datepicker-toggle>
                        <mat-datepicker #birthday></mat-datepicker>
                    </mat-form-field>
                  </div>

                  <div class=" p-2 ">
                    <img [src]="defaultCusImage" style="width: 150px;height:200px">
                    <input formControlName="userPicture" name="userPicture" (change)="handelEmpImgInput($event.target.files)" id="EmpPicupload" class="user-img" type="file" accept="image/*">
                  </div>

                </div>
            </mat-tab>

            <!-- <mat-tab label="Personal" formGroupName="profile">
                <div fxLayout="column" class="form-field-outer">
                    <mat-form-field class="w-100">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name">
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <mat-label>Surname</mat-label>
                        <input matInput formControlName="surname">
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <mat-label>Birthday</mat-label>
                        <input matInput [matDatepicker]="birthday" formControlName="birthday">
                        <mat-datepicker-toggle matSuffix [for]="birthday"></mat-datepicker-toggle>
                        <mat-datepicker #birthday></mat-datepicker>
                    </mat-form-field>
                    <mat-radio-group formControlName="gender">
                        <mat-radio-button value="male" labelPosition="after">Male</mat-radio-button>
                        <mat-radio-button value="female" labelPosition="after">Female</mat-radio-button>
                    </mat-radio-group>
                    <mat-form-field class="w-100">
                        <mat-label>Image url</mat-label>
                        <input matInput formControlName="image">
                    </mat-form-field>
                </div>
            </mat-tab> -->
            <mat-tab label="{{ 'HTML.TAB_WORK' | translate }}" formGroupName="work">
                <div fxLayout="column" class="form-field-outer">
                    <mat-form-field class="w-100">
                        <mat-label>Job</mat-label>
                        <input matInput formControlName="userJobName">
                    </mat-form-field>
                  <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
                    <mat-checkbox formControlName="is_superuser">is superuser</mat-checkbox>
                    <mat-checkbox formControlName="is_staff">is staff</mat-checkbox>
                  </div>
                  <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
                    <mat-checkbox formControlName="is_active">is active</mat-checkbox>
                    <mat-checkbox formControlName="is_employee">is employee</mat-checkbox>
                  </div>
                </div>
            </mat-tab>
            <mat-tab label="{{ 'HTML.TAB_CONTACTS' | translate }}" formGroupName="contacts">
                <div fxLayout="column" class="form-field-outer">
                    <mat-form-field class="w-100">
                        <mat-label>{{ 'HTML.EMAIL' | translate }}</mat-label>
                        <input matInput formControlName="email">
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <mat-label>{{ 'HTML.MOBILE' | translate }}</mat-label>
                        <input matInput formControlName="UserMobile">
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <mat-label>{{ 'HTML.ADDRESS' | translate }}</mat-label>
                        <input matInput formControlName="userAddress">
                    </mat-form-field>
                </div>
            </mat-tab>
            <mat-tab label="{{ 'HTML.TAB_SOCIAL_LIFE' | translate }}" formGroupName="social">
                <div fxLayout="column" class="form-field-outer">
                    <mat-form-field class="w-100">
                        <mat-label>Facebook</mat-label>
                        <input matInput formControlName="userFacebook">
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <mat-label>Twitter</mat-label>
                        <input matInput formControlName="userTwitter">
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <mat-label>Google</mat-label>
                        <input matInput formControlName="userGoogle">
                    </mat-form-field>
                </div>
            </mat-tab>
            <mat-tab label="{{ 'HTML.TAB_SETTINGS' | translate }}" formGroupName="settings">
                <div fxLayout="column" class="form-field-outer">
                    <!-- <mat-checkbox formControlName="isActive">Active</mat-checkbox> -->
                    <mat-checkbox formControlName="isDeleted">Blocked</mat-checkbox>
                    <p *ngIf="user.id"><span>Registration date:</span> <i>{{user.EntryDate | date:"dd MMMM, yyyy 'at' HH:mm" }}</i></p>
                    <p *ngIf="user.id"><span>Last joined date:</span> <i>{{user.joinedDate | date:"dd MMMM, yyyy 'at' HH:mm" }}</i> </p>
                </div>
            </mat-tab>
        </mat-tab-group>
    </form>
</div>
<div mat-dialog-actions>
    <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
      <button mat-raised-button color="primary" (click)="onSave()" [mat-dialog-close]="form.value" [disabled]="!form.valid"><span *ngIf="!user.id">{{ 'BTN.SAVE' | translate }}</span><span *ngIf="user.id">{{ 'BTN.EDIT' | translate }}</span></button>
      <button mat-raised-button color="warn" (click)="close()">{{ 'BTN.CANCEL' | translate }}</button>
    </div>
</div>
