<div fxLayout="row" fxLayoutAlign="space-between center" class="p-2">
    <div fxLayout="row">
        <mat-button-toggle-group #controls="matButtonToggleGroup" appearance="legacy">
            <mat-button-toggle value="add" (click)="gotoNewUnit()">
                <mat-icon>person_add</mat-icon>
            </mat-button-toggle>
            <!-- <mat-button-toggle value="search">
                <mat-icon>search</mat-icon>
            </mat-button-toggle> -->
        </mat-button-toggle-group>
    </div>
    <!-- <form class="user-search" [class.show]="controls.value == 'search'">
        <mat-form-field class="user-search-input">
            <input matInput placeholder="{{ 'HTML.SEARCH_TENANT' | translate }}" [(ngModel)]="searchText" name="search" autocomplete="off">
        </mat-form-field>
    </form> -->
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-button-toggle-group #viewType="matButtonToggleGroup" appearance="legacy" value="list">
            <mat-button-toggle value="list">
              <mat-icon>view_list</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="grid">
                <mat-icon>view_module</mat-icon>
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
  </div>
  
  <mat-divider> </mat-divider>
  
  <mat-card>
  <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="w-100 p-3">
      <h2>{{ 'HTML.UNIT_LIST' | translate }}</h2>
  </div>
  <mat-divider></mat-divider>
  <div class="mat-mdc-table admin-table">
      <div class="mat-mdc-header-row">
          <div class="mat-mdc-header-cell"><h2> {{ 'HTML.BRANCH' | translate }} </h2></div>
          <div class="mat-mdc-header-cell"><h2> {{ 'HTML.OWNER' | translate }} </h2></div>
          <div class="mat-mdc-header-cell"><h2> {{ 'HTML.BUILDING' | translate }} </h2></div>
          <div class="mat-mdc-header-cell"><h2> {{ 'HTML.FloorNumber' | translate }} </h2></div>
          <div class="mat-mdc-header-cell"><h2> {{ 'HTML.UnitNumber' | translate }} </h2></div>
          <div class="mat-mdc-header-cell"><h2> {{ 'HTML.FileNumber' | translate }} </h2></div>

          <div class="mat-mdc-header-cell"><h2> {{ 'HTML.HOUSING_STATUS' | translate }} </h2></div>
          <div class="mat-mdc-header-cell"><h2> {{ 'HTML.UnitType' | translate }} </h2></div>

          <div class="mat-mdc-header-cell"><h2> {{ 'HTML.ACTIVATED' | translate }} </h2></div>
          <div class="mat-mdc-header-cell"></div>
      </div>
      <div *ngFor="let oneUnit of unitsAll | paginate: { itemsPerPage: count, currentPage: page }" class="mat-mdc-row">
          <div class="mat-mdc-cell">{{oneUnit.branch_ArbName}}</div>
          <div class="mat-mdc-cell">{{oneUnit.owner_FullName}}</div>
          <div class="mat-mdc-cell">{{oneUnit.build_Name}}</div>
          <div class="mat-mdc-cell"> {{ oneUnit.UNTFloorNumber  }} </div>
          <div class="mat-mdc-cell"> {{ oneUnit.UNTUnitNumber  }} </div>  
          <div class="mat-mdc-cell"> {{ oneUnit.UNTUnitFileNumber  }} </div>  

          <div class="mat-mdc-cell"> {{ oneUnit.UNTHousingStatusDisplay  }} </div>  
          <div class="mat-mdc-cell"> {{ oneUnit.UNTUnitTypeDisplay  }} </div>  

          <div class="mat-mdc-cell">
              <mat-icon class="text-muted">{{ (oneUnit.UNTActive=='T') ? 'check_box' : 'check_box_outline_blank'}}</mat-icon>
          </div>
  
          <div class="mat-mdc-cell">
              <div class="p-2 actions">
                  <a [routerLink]="['/units/unit-add/', oneUnit.id]" mat-mini-fab color="primary" matTooltip="{{ 'BTN.EDIT' | translate }}"><mat-icon>edit</mat-icon></a>
                  <button mat-mini-fab color="warn" matTooltip="{{ 'BTN.REMOVE' | translate }}" (click)="removeUnit(oneUnit.id)"><mat-icon>delete</mat-icon></button>                  
              </div>
          </div>
      </div>
  </div>
  </mat-card>
  
  <div *ngIf="unitsAll" fxLayout="row wrap">
    <div fxFlex="100" class="p-2">
        <mat-card class="text-center">
            <pagination-controls class="product-pagination" autoHide="true" maxSize="5" (pageChange)="onPageChanged($event)"></pagination-controls>
        </mat-card>
    </div>
  </div>
  
  <div *ngIf="!unitsAll" fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
    <mat-spinner color="primary"></mat-spinner>
  </div>
  