<div fxLayout="row" fxLayoutAlign="space-between center" class="p-2">
    <div fxLayout="row">
        <mat-button-toggle-group #controls="matButtonToggleGroup" appearance="legacy">
            <mat-button-toggle value="add" (click)="gotoNewDocument()">
                <mat-icon>note_add</mat-icon>
            </mat-button-toggle>
            <!-- <mat-button-toggle value="search">
                <mat-icon>search</mat-icon>
            </mat-button-toggle> -->
        </mat-button-toggle-group>
    </div>
    <!-- <form class="user-search" [class.show]="controls.value == 'search'">
        <mat-form-field class="user-search-input">
            <input matInput placeholder="{{ 'HTML.SEARCH_TENANT' | translate }}" [(ngModel)]="searchText" name="search" autocomplete="off">
        </mat-form-field>
    </form> -->
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-button-toggle-group #viewType="matButtonToggleGroup" appearance="legacy" value="list">
            <mat-button-toggle value="list">
            <mat-icon>view_list</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="grid">
                <mat-icon>view_module</mat-icon>
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
  </div>
  
  <mat-divider> </mat-divider>
  
  <mat-card>
  <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="w-100 p-3">
      <h2>{{ 'HTML.ReceivableDoc_List' | translate }}</h2>
  </div>
  <mat-divider></mat-divider>
  <div class="mat-mdc-table admin-table">
      <div class="mat-mdc-header-row">
          <div class="mat-mdc-header-cell"><h2> {{ 'HTML.BRANCH' | translate }} </h2></div>
          <div class="mat-mdc-header-cell"><h2> {{ 'HTML.BUILDING' | translate }} </h2></div>
          <div class="mat-mdc-header-cell"><h2> {{ 'HTML.UnitNumber' | translate }} </h2></div>
          <div class="mat-mdc-header-cell"><h2> {{ 'HTML.TENANT' | translate }} </h2></div>
          <div class="mat-mdc-header-cell"><h2> {{ 'HTML.DocDate' | translate }} </h2></div>
          <div class="mat-mdc-header-cell"><h2> {{ 'HTML.DocValue' | translate }} </h2></div>
          <div class="mat-mdc-header-cell"><h2> {{ 'HTML.DocPrintedNo' | translate }} </h2></div>
  
          <div class="mat-mdc-header-cell"></div>
      </div>
      <div *ngFor="let oneDocument of documentsAll | paginate: { itemsPerPage: count, currentPage: page }" class="mat-mdc-row">
          <div class="mat-mdc-cell">{{oneDocument.branch_KeyField}}</div>
          <div class="mat-mdc-cell">{{oneDocument.build_Name}}</div>
          <div class="mat-mdc-cell">{{oneDocument.unit_UnitNumber}}</div>
          <div class="mat-mdc-cell"> {{ oneDocument.customer_Name  }} </div>
          <div class="mat-mdc-cell"> {{ oneDocument.PDODocDate  }} </div>
          <div class="mat-mdc-cell"> {{ oneDocument.PDOValue  }} </div>
          <div class="mat-mdc-cell"> {{ oneDocument.PDOPrintedCode  }} </div>
  
          <div class="mat-mdc-cell">
              <div class="p-2 actions">
                  <a [routerLink]="['/payments/receivable-add/', oneDocument.id]" mat-mini-fab color="primary" matTooltip="{{ 'BTN.EDIT' | translate }}"><mat-icon>edit</mat-icon></a>
                  <button mat-mini-fab color="warn" matTooltip="{{ 'BTN.REMOVE' | translate }}" (click)="removeDocument(oneDocument.id)"><mat-icon>delete</mat-icon></button>
                  <!-- <button mat-mini-fab color="warn" matTooltip="{{ 'BTN.INSTALLMENT' | translate }}" (click)="contractInstallments(oneDocument.id)"><mat-icon>assignment</mat-icon></button> -->
                  <!-- <a [routerLink]="['/contracts/installment-list/', oneDocument.id]" mat-mini-fab color="primary" matTooltip="{{ 'BTN.INSTALLMENT' | translate }}"><mat-icon>receipt</mat-icon></a> -->
              </div>
          </div>
      </div>
  </div>
  </mat-card>
  
  <div *ngIf="documentsAll" fxLayout="row wrap">
    <div fxFlex="100" class="p-2">
        <mat-card class="text-center">
            <pagination-controls class="product-pagination" autoHide="true" maxSize="5" (pageChange)="onPageChanged($event)"></pagination-controls>
        </mat-card>
    </div>
  </div>
  
  <div *ngIf="!documentsAll" fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
    <mat-spinner color="primary"></mat-spinner>
  </div>
  