
.user-form{
  .form-field-outer{
      width: 680px;
  }
  .mat-mdc-radio-button{
      margin-right: 12px;
  }
}

.container {
  background-color: var(--backgroundColorContainer);
  border-right: 2px solid var(--backgroundColorContainerBorder);
}


