<h1 mat-dialog-title><span *ngIf="!contractForDisplay.id">{{ 'BTN.ADD' | translate }}</span><span *ngIf="contractForDisplay.id">{{ 'BTN.EDIT' | translate }}</span> {{ 'HTML.RentContract' | translate }}</h1>
<!-- <div mat-dialog-content> -->
    <form [formGroup]="form" class="user-form">
        <mat-tab-group class="vertical-tabs tab-content-wrapped" [backgroundColor]="'primary'" [color]="'warn'">
            <mat-tab label="{{ 'HTML.TAB_BASIC' | translate }}">
              <div fxLayout="column" class="form-field-outer">
                <div fxLayout="column" fxLayoutGap="10px grid">
                  <mat-label> </mat-label>
                  <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
                    <div fxFlex="100" fxFlex.gt-sm="27.0" class="px-1">
                      <mat-form-field appearance="outline" class="w-100">
                          <mat-label> {{ 'HTML.CODE' | translate }}</mat-label>
                          <input matInput formControlName="RCOCode" required>
                          <mat-error *ngIf="form.controls.RCOCode.errors?.required">Code is required</mat-error>
                      </mat-form-field>
                    </div>
                    <div fxFlex="100" fxFlex.gt-sm="22.8" class="px-1">
                      <mat-form-field appearance="outline" class="w-100">
                          <mat-label> {{ 'HTML.SUBCODE' | translate }}</mat-label>
                          <input matInput formControlName="RCOSubCode" required>
                          <mat-error *ngIf="form.controls.RCOSubCode.errors?.required">Code is required</mat-error>
                      </mat-form-field>
                    </div>
                    
                    <div fxFlex="100" fxFlex.gt-sm="50.0" class="px-1">
                      <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{ 'HTML.ContractDate' | translate }}</mat-label>
                        <input matInput [matDatepicker]="contractDate" formControlName="contractDate">
                        <mat-datepicker-toggle matSuffix [for]="contractDate"></mat-datepicker-toggle>
                        <mat-datepicker #contractDate></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
                </div>

                <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
                  <div fxFlex="100" fxFlex.gt-sm="49.8" class="px-1">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>{{ 'HTML.ContractStartDate' | translate }}</mat-label>
                      <input matInput [matDatepicker]="contractStartDate" formControlName="contractStartDate">
                      <mat-datepicker-toggle matSuffix [for]="contractStartDate"></mat-datepicker-toggle>
                      <mat-datepicker #contractStartDate></mat-datepicker>
                    </mat-form-field>
                  </div>      
                  <div fxFlex="100" fxFlex.gt-sm="49.8" class="px-1">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>{{ 'HTML.ContractEndDate' | translate }}</mat-label>
                      <input matInput [matDatepicker]="contractEndDate" formControlName="contractEndDate">
                      <mat-datepicker-toggle matSuffix [for]="contractEndDate"></mat-datepicker-toggle>
                      <mat-datepicker #contractEndDate></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
              
              

              <div fxFlex="100" fxFlex.gt-sm="24.8" class="px-1">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{ 'HTML.ContractStatus' | translate }}</mat-label>
                  <mat-select placeholder="{{ 'HTML.ContractStatus' | translate }}" formControlName="RCOContractStatus" id="contStatusOpSel" >
                    <mat-option [value]="">-</mat-option>
                    <mat-option [value]="'N'">{{ 'OPTIONS.NEW' | translate }}</mat-option>
                    <mat-option [value]="'R'">{{ 'OPTIONS.ReNew' | translate }}</mat-option>
                    <mat-option [value]="'C'">{{ 'OPTIONS.Canceld' | translate }}</mat-option>
                    <mat-option [value]="'F'">{{ 'OPTIONS.Finished' | translate }}</mat-option>                    
                  </mat-select>
                </mat-form-field>
              </div>
              

              </div>
            </mat-tab>

            <mat-tab label="{{ 'HTML.TAB_ContractUnit' | translate }}" formGroupName="contractUnit">
              <div fxLayout="column" class="form-field-outer">
                <div fxLayout="column" fxLayoutGap="10px grid">
                  <mat-label> </mat-label>

                  <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
                    <div fxFlex="100" fxFlex.gt-sm="50.0" class="px-1">
                      <mat-form-field appearance="outline" class="w-100">
                        <mat-label> {{ 'HTML.BRANCH' | translate }}</mat-label>
                        <mat-select (selectionChange)="getBuildings($event)" placeholder="{{ 'HTML.BRANCH' | translate }}" formControlName="branch_KeyField" id="branchContOpSel" >
                          <mat-option [value]="">-</mat-option>
                          <mat-option *ngFor="let branch of AllBranches" [value]="branch.id">
                              {{branch.BRAArbName}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>                  
                    
                  </div>
                  <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
                    <div fxFlex="100" fxFlex.gt-sm="49.8" class="px-1">
                      <mat-form-field appearance="outline" class="w-100">
                        <mat-label> {{ 'HTML.BUILDING' | translate }}</mat-label>
                        <mat-select (selectionChange)="readBuilding($event)" placeholder="{{ 'HTML.BUILDING' | translate }}" formControlName="build_KeyField" id="buildOneOpSel" >
                          <mat-option [value]="">-</mat-option>
                          <mat-option *ngFor="let build of AllBuilding" [value]="build.id">
                              {{build.BUIName}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <div fxFlex="100" fxFlex.gt-sm="49.8" class="px-1">
                      <mat-form-field appearance="outline" class="w-100">
                        <mat-label> {{ 'HTML.UNIT' | translate }}</mat-label>
                        <mat-select (selectionChange)="readUnit($event)" placeholder="{{ 'HTML.UNIT' | translate }}" formControlName="unit_KeyField" id="unitOneOpSel" >
                          <mat-option [value]="">-</mat-option>
                          <mat-option *ngFor="let unit of AllUnitsForBuilding" [value]="unit.id">
                              {{unit.UNTUnitNumber}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>

                </div>                  
                </div>
            </mat-tab>

            <mat-tab label="{{ 'HTML.TAB_ContractPersons' | translate }}" formGroupName="contractPerson">
                <div fxLayout="column" class="form-field-outer">
                  <div fxLayout="column" fxLayoutGap="10px grid">
                    <mat-label> </mat-label>  
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">

                      <div fxFlex="100" fxFlex.gt-sm="49.8" class="px-1">
                        <mat-form-field appearance="outline" class="w-100">
                          <mat-label> {{ 'HTML.OWNER' | translate }}</mat-label>
                          <mat-select (selectionChange)="readOwner($event)" placeholder="{{ 'HTML.OWNER' | translate }}" formControlName="owner_KeyField" id="oneOwnerOpSel" >
                            <mat-option [value]="">-</mat-option>
                            <mat-option *ngFor="let owner of AllOwners" [value]="owner.id">
                                {{owner.OWNName}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div fxFlex="100" fxFlex.gt-sm="49.8" class="px-1">
                        <mat-form-field appearance="outline" class="w-100">
                          <mat-label> {{ 'HTML.OwnerRepresentative' | translate }}</mat-label>
                          <mat-select placeholder="{{ 'HTML.OwnerRepresentative' | translate }}" formControlName="owner_representative_KeyField" id="oneOwnerRepresOpSel" >
                            <mat-option [value]="">-</mat-option>
                            <mat-option *ngFor="let owner of AllRepresentativeForOwner" [value]="owner.id">
                                {{owner.OWNName}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      
                    </div>

                    <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
                      <div fxFlex="100" fxFlex.gt-sm="49.8" class="px-1">
                        <mat-form-field appearance="outline" class="w-100">
                          <mat-label> {{ 'HTML.TENANT' | translate }}</mat-label>
                          <mat-select (selectionChange)="readCustumer($event)" placeholder="{{ 'HTML.TENANT' | translate }}" formControlName="customer_KeyField" id="oneCustomOpSel" >
                            <mat-option [value]="">-</mat-option>
                            <mat-option *ngFor="let tenant of AllTenants" [value]="tenant.id">
                                {{tenant.CUSName}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>

                      <div fxFlex="100" fxFlex.gt-sm="49.8" class="px-1">
                        <mat-form-field appearance="outline" class="w-100">
                          <mat-label> {{ 'HTML.TenantRepresentative' | translate }}</mat-label>
                          <mat-select (selectionChange)="readCustumer($event)" placeholder="{{ 'HTML.TenantRepresentative' | translate }}" formControlName="customer_representative_KeyField" id="CustomRepsOpSel" >
                            <mat-option [value]="">-</mat-option>
                            <mat-option *ngFor="let tenant of AllRepresentativeForCustomer" [value]="tenant.id">
                                {{tenant.CUSName}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>

                    </div>


                  </div>
                    
                </div>
            </mat-tab>
<!-- ================================================================== -->
          <mat-tab label="{{ 'HTML.TAB_ContractValues' | translate }}" formGroupName="contractValues">
                <div fxLayout="column" class="form-field-outer">
                  <div fxLayout="column" fxLayoutGap="10px grid">
                    <mat-label> </mat-label>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
                      <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
                        <mat-form-field appearance="outline" class="w-100">
                          <mat-label>{{ 'HTML.ContractValue' | translate }}</mat-label>
                          <input matInput formControlName="RCOContractValue">
                        </mat-form-field>
                      </div>
                      <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
                        <mat-form-field appearance="outline" class="w-100">
                          <mat-label>{{ 'HTML.PayEveryMonthesNo' | translate }}</mat-label>
                          <input matInput formControlName="RCOPayEveryMonthesNo">
                        </mat-form-field>
                      </div>
                      <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
                        <mat-form-field appearance="outline" class="w-100">
                          <mat-label>{{ 'HTML.MonthValue' | translate }}</mat-label>
                          <input matInput formControlName="RCOMonthValue">
                        </mat-form-field>
                      </div>
                    </div>
                  </div>

                    <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
                      <div fxFlex="100" fxFlex.gt-sm="24.9" class="px-1">
                        <mat-form-field appearance="outline" class="w-100">
                          <mat-label>{{ 'HTML.InsuranceValue' | translate }}</mat-label>
                          <input matInput formControlName="RCOInsuranceValue">
                        </mat-form-field>
                      </div>
                      <div fxFlex="100" fxFlex.gt-sm="24.9" class="px-1">
                        <mat-form-field appearance="outline" class="w-100">
                          <mat-label>{{ 'HTML.SeekingValue' | translate }}</mat-label>
                          <input matInput formControlName="RCOSeekingValue">
                        </mat-form-field>
                      </div>
                      <div fxFlex="100" fxFlex.gt-sm="24.9" class="px-1">
                        <mat-form-field appearance="outline" class="w-100">
                          <mat-label>{{ 'HTML.MonthlyExpense' | translate }}</mat-label>
                          <input matInput formControlName="RCOMonthlyExpense">
                        </mat-form-field>
                      </div>
                      <div fxFlex="100" fxFlex.gt-sm="24.9" class="px-1">
                        <mat-form-field appearance="outline" class="w-100">
                          <mat-label>{{ 'HTML.OtherValue' | translate }}</mat-label>
                          <input matInput formControlName="RCOOtherValue">
                        </mat-form-field>
                      </div>
                    </div> 

                    <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
                      <div fxFlex="100" fxFlex.gt-sm="100" class="px-1">
                        <mat-form-field appearance="outline" class="w-100">
                          <mat-label>{{ 'HTML.ExpenseDesc' | translate }}</mat-label>
                          <input matInput formControlName="RCOExpenseDesc">
                        </mat-form-field>
                      </div>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
                      <div fxFlex="100" fxFlex.gt-sm="49.8" class="px-1">
                        <mat-form-field appearance="outline" class="w-100">
                          <mat-label>{{ 'HTML.MonthlyElectricValue' | translate }}</mat-label>
                          <input matInput formControlName="RCOMonthlyElectricValue">
                        </mat-form-field>
                      </div>
                      <div fxFlex="100" fxFlex.gt-sm="49.8" class="px-1">
                        <mat-form-field appearance="outline" class="w-100">
                          <mat-label>{{ 'HTML.ElectricCounterReading' | translate }}</mat-label>
                          <input matInput formControlName="RCOElectricCounterReading">
                        </mat-form-field>
                      </div>                      
                    </div>

                    <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
                      <div fxFlex="100" fxFlex.gt-sm="49.8" class="px-1">
                        <mat-form-field appearance="outline" class="w-100">
                          <mat-label>{{ 'HTML.MonthlyWaterValue' | translate }}</mat-label>
                          <input matInput formControlName="RCOMonthlyWaterValue">
                        </mat-form-field>
                      </div>
                      <div fxFlex="100" fxFlex.gt-sm="49.8" class="px-1">
                        <mat-form-field appearance="outline" class="w-100">
                          <mat-label>{{ 'HTML.WaterCounterReading' | translate }}</mat-label>
                          <input matInput formControlName="RCOWaterCounterReading">
                        </mat-form-field>
                      </div>                      
                    </div>

                    <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
                      <div fxFlex="100" fxFlex.gt-sm="49.8" class="px-1">
                        <mat-form-field appearance="outline" class="w-100">
                          <mat-label>{{ 'HTML.MonthlyGasValue' | translate }}</mat-label>
                          <input matInput formControlName="RCOMonthlyGasValue">
                        </mat-form-field>
                      </div>
                      <div fxFlex="100" fxFlex.gt-sm="49.8" class="px-1">
                        <mat-form-field appearance="outline" class="w-100">
                          <mat-label>{{ 'HTML.GasCounterReading' | translate }}</mat-label>
                          <input matInput formControlName="RCOGasCounterReading">
                        </mat-form-field>
                      </div>                      
                    </div>


                </div>
            </mat-tab> 
<!-- ========================================================== -->
            <mat-tab label="{{ 'HTML.TAB_SETTINGS' | translate }}" formGroupName="settings">
                <div fxLayout="column" class="form-field-outer">
                    <mat-checkbox formControlName="isActive">{{ 'HTML.ACTIVE' | translate }}</mat-checkbox>
                    <mat-checkbox formControlName="isDeleted">{{ 'HTML.BLOCKED' | translate }}</mat-checkbox>
                    
                </div>
            </mat-tab> 
        </mat-tab-group>
    </form>

<br>
<div mat-dialog-actions>
    <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
        <button mat-raised-button color="primary" (click)="saveUpdate(contractForDisplay.id)" [mat-dialog-close]="form.value" [disabled]="!form.valid"><span *ngIf="!contractForDisplay.id">Save</span><span *ngIf="contractForDisplay.id">Update</span></button>
        <!-- <button mat-raised-button color="warn" (click)="close()">Cancel</button> -->
    </div>
</div>
