<h1 mat-dialog-title>{{ 'HTML.InstallmentData' | translate }}</h1>

<!-- <div mat-dialog-content>
  <form [formGroup]="form" class="user-form"> -->
      

<!-- <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off"> -->
<form [formGroup]="form" class="user-form">
    <div mat-dialog-content>
        <div fxLayout="row wrap">

          <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
            <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'HTML.InstallmentValue' | translate }}</mat-label>
                <input matInput formControlName="INSValue" required>
              </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'HTML.DueDate' | translate }}</mat-label>
                <input matInput [matDatepicker]="dueDate" formControlName="dueDate">
                <mat-datepicker-toggle matSuffix [for]="dueDate"></mat-datepicker-toggle>
                <mat-datepicker #dueDate></mat-datepicker>
              </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">              
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'HTML.InstallmentStatus' | translate }}</mat-label>
                <mat-select placeholder="{{ 'HTML.InstallmentStatus' | translate }}" formControlName="INSStatus" id="instStatusOpSel" >
                  <mat-option [value]="">-</mat-option>
                  <mat-option [value]="'N'">{{ 'OPTIONS.NotPayed' | translate }}</mat-option>
                  <mat-option [value]="'P'">{{ 'OPTIONS.Payed' | translate }}</mat-option>
                  <mat-option [value]="'T'">{{ 'OPTIONS.PartialPayed' | translate }}</mat-option>                  
                </mat-select>
              </mat-form-field>              
            </div>
          </div>


          <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
            <div fxFlex="100" fxFlex.gt-sm="49.8" class="px-1">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'HTML.PayedValue' | translate }}</mat-label>
                <input matInput formControlName="INSPayedValue">
              </mat-form-field>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="49.8" class="px-1">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'HTML.PayedDate' | translate }}</mat-label>
                <input matInput [matDatepicker]="payDate" formControlName="payDate">
                <mat-datepicker-toggle matSuffix [for]="payDate"></mat-datepicker-toggle>
                <mat-datepicker #payDate></mat-datepicker>
              </mat-form-field>
            </div>            
          </div>

          
          <div fxFlex="100" fxFlex.gt-sm="100" class="px-1">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'HTML.Notes' | translate }}</mat-label>
                <input matInput formControlName="INSNotes">                
            </mat-form-field>
          </div>            
            
        </div>
    </div>



    <div mat-dialog-actions>
        <!-- <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
            <button mat-raised-button color="warn" type="button" mat-dialog-close>{{ 'BTN.CANCEL' | translate }}</button>
            <button mat-raised-button color="primary" type="submit">{{ 'BTN.SAVE' | translate }}</button>
        </div> -->

        <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
          <button mat-raised-button color="primary" (click)="onSave()" [mat-dialog-close]="form.value" [disabled]="!form.valid"><span>{{ 'BTN.SAVE' | translate }}</span></button>
          <button mat-raised-button color="warn" (click)="close()">{{ 'BTN.CANCEL' | translate }}</button>
        </div>
    </div>
</form>
