<h1 mat-dialog-title><span *ngIf="!buildForDisplay.id">{{ 'BTN.ADD' | translate }}</span><span *ngIf="buildForDisplay.id">{{ 'BTN.EDIT' | translate }}</span> {{ 'HTML.BUILDING' | translate }}</h1>
<!-- <div mat-dialog-content> -->
    <form [formGroup]="form" class="user-form">
        <mat-tab-group class="vertical-tabs tab-content-wrapped" [backgroundColor]="'primary'" [color]="'warn'">
             <mat-tab label="{{ 'HTML.TAB_BASIC' | translate }}">
              <div fxLayout="column" class="form-field-outer">
                <div fxLayout="column" fxLayoutGap="10px grid">
                  <mat-label> </mat-label>
                  <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
                      <mat-form-field class="w-25">
                          <mat-label> {{ 'HTML.CODE' | translate }}</mat-label>
                          <input matInput formControlName="code" required>
                          <mat-error *ngIf="form.controls.code.errors?.required">Code is required</mat-error>
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="w-70">
                        <mat-label> {{ 'HTML.BRANCH' | translate }}</mat-label>
                        <mat-select placeholder="{{ 'HTML.BRANCH' | translate }}" formControlName="branchKey" id="branchOpSel" >
                          <mat-option [value]="">-</mat-option>
                          <mat-option *ngFor="let branch of AllBranches" [value]="branch.id">
                              {{branch.BRAArbName}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                  </div>
                </div>

                  <mat-form-field class="w-100">
                    <mat-label> {{ 'FIELD.NAME' | translate }}</mat-label>
                    <input matInput formControlName="name" required>
                    <mat-error *ngIf="form.controls.name.errors?.required">Building name is required</mat-error>
                  </mat-form-field>
                  <mat-form-field class="w-100">
                    <mat-label> {{ 'HTML.PROPERTY_DESC' | translate }}</mat-label>
                    <input matInput formControlName="description" required>
                    <mat-error *ngIf="form.controls.description.errors?.required">Property description is required</mat-error>
                  </mat-form-field>


                <div class=" p-2 ">
                  <img [src]="defaultCusImage" style="width: 150px;height:200px">
                  <input formControlName="image" name="image" (change)="handelCUSImgInput($event.target.files)" id="upload" class="user-img" type="file" accept="image/*">
                </div>

              </div>
            </mat-tab>

            <mat-tab label="{{ 'HTML.TAB_OWNER' | translate }}" formGroupName="owner">
                <div fxLayout="column" class="form-field-outer">

                  <mat-form-field class="w-50">
                    <mat-label>{{ 'HTML.RECIEVE_DATE' | translate }}</mat-label>
                    <input matInput [matDatepicker]="recievedate" formControlName="recievedate">
                    <mat-datepicker-toggle matSuffix [for]="recievedate"></mat-datepicker-toggle>
                    <mat-datepicker #recievedate></mat-datepicker>
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{ 'HTML.OWNER' | translate }}</mat-label>
                    <mat-select placeholder="{{ 'HTML.OWNER' | translate }}" formControlName="ownerKey" id="ownerOpSel" >

                      <mat-option [value]="">-</mat-option>
                      <mat-option *ngFor="let oneowner of AllOwners" [value]="oneowner.id">
                          {{oneowner.OWNName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
                    <mat-form-field appearance="outline" class="w-50">
                      <mat-label>{{ 'HTML.OWNERSHIP_DOC_TYPE' | translate }}</mat-label>
                      <mat-select placeholder="{{ 'HTML.OWNERSHIP_DOC_TYPE' | translate }}" formControlName="docType" id="doctypeOpSel" >

                        <mat-option [value]="">-</mat-option>
                        <mat-option *ngFor="let docType of DocTypes" [value]="docType.id">
                            {{docType.CTTSubjectName}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field class="w-45">
                      <mat-label> {{ 'HTML.DOC_NUMBER' | translate }}</mat-label>
                      <input matInput formControlName="docNumber">
                    </mat-form-field>

                  </div>

                </div>
            </mat-tab>

            <mat-tab label="{{ 'HTML.TAB_ADDRESS' | translate }}" formGroupName="build_address">
                <div fxLayout="column" class="form-field-outer">
                    <mat-form-field class="w-100">
                        <mat-label>{{ 'HTML.STREET_NAME' | translate }}</mat-label>
                        <input matInput formControlName="streetName">
                    </mat-form-field>
                  <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
                    <mat-form-field class="w-50">
                        <mat-label>{{ 'HTML.BUILDING_NUMBER' | translate }}</mat-label>
                        <input matInput formControlName="buildNumber">
                    </mat-form-field>
                    <mat-form-field class="w-45">
                      <mat-label>{{ 'HTML.ZIP' | translate }}</mat-label>
                      <input matInput formControlName="zibCode">
                    </mat-form-field>
                  </div>
                    <mat-form-field class="w-100">
                      <mat-label>{{ 'HTML.ADDRESS' | translate }}</mat-label>
                      <input matInput formControlName="address">
                    </mat-form-field>
                    <mat-form-field class="w-100">
                      <mat-label>{{ 'HTML.ADDRESS_DESC' | translate }}</mat-label>
                      <input matInput formControlName="addressDescription">
                    </mat-form-field>

                  <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
                    <mat-form-field appearance="outline" class="w-50">
                      <mat-label>{{ 'HTML.COUNTRY' | translate }}</mat-label>
                        <mat-select (selectionChange)="getGovernorate($event)" placeholder="{{ 'HTML.COUNTRY' | translate }}" formControlName="countryKey" id="countrOpSel" >
                          <mat-option [value]="">-</mat-option>
                          <mat-option *ngFor="let country of Countries" [value]="country.id">
                              {{country.CTTSubjectName}}
                          </mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-45">
                      <mat-label>{{ 'HTML.GOVERN' | translate }}</mat-label>
                      <mat-select placeholder="{{ 'HTML.GOVERN' | translate }}" formControlName="governorateKey" id="governoOpSel" >

                        <mat-option [value]="">-</mat-option>
                        <mat-option *ngFor="let governo of Governorates" [value]="governo.id">
                            {{governo.CTTSubjectName}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                </div>

            </mat-tab>

            <mat-tab label="{{ 'HTML.TAB_BUILDING_DESCRIPTION' | translate }}" formGroupName="build_desc">
                <div fxLayout="column" class="form-field-outer">
                  <div fxLayout="column" fxLayoutGap="10px grid">
                    <mat-label> </mat-label>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
                      <mat-form-field appearance="outline" class="w-50">
                        <mat-label>{{ 'HTML.HOUSING_STATUS' | translate }}</mat-label>
                        <mat-select placeholder="{{ 'HTML.HOUSING_STATUS' | translate }}" formControlName="housingStatus" id="housingstatOpSel" >
                          <mat-option [value]="">-</mat-option>
                          <mat-option [value]="'E'">{{ 'OPTIONS.EMPTY' | translate }}</mat-option>
                          <mat-option [value]="'R'">{{ 'OPTIONS.RENTED' | translate }}</mat-option>
                          <mat-option [value]="'S'">{{ 'OPTIONS.SOLD' | translate }}</mat-option>
                          <mat-option [value]="'V'">{{ 'OPTIONS.VACANT_UNITS' | translate }}</mat-option>
                          <mat-option [value]="'M'">{{ 'OPTIONS.UNDER_MAINTENANCE' | translate }}</mat-option>
                        </mat-select>
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="w-45">
                        <mat-label>{{ 'HTML.CONSTRUCTION_STATUS' | translate }}</mat-label>
                        <mat-select placeholder="{{ 'HTML.CONSTRUCTION_STATUS' | translate }}" formControlName="constructionStatus" id="constructstatOpSel" >
                          <mat-option [value]="">-</mat-option>
                          <mat-option [value]="'E'">{{ 'OPTIONS.EXCELLENT' | translate }}</mat-option>
                          <mat-option [value]="'V'">{{ 'OPTIONS.VERY_GOOD' | translate }}</mat-option>
                          <mat-option [value]="'G'">{{ 'OPTIONS.GOOD' | translate }}</mat-option>
                          <mat-option [value]="'A'">{{ 'OPTIONS.ACCEPTED' | translate }}</mat-option>
                          <mat-option [value]="'B'">{{ 'OPTIONS.BAD' | translate }}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>

                  <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
                    <mat-form-field appearance="outline" class="w-50">
                      <mat-label>{{ 'HTML.PROPERTY_TYPE' | translate }}</mat-label>
                      <mat-select placeholder="{{ 'HTML.PROPERTY_TYPE' | translate }}" formControlName="propertyType" id="propertyTypeOpSel" >
                        <mat-option [value]="">-</mat-option>
                        <mat-option [value]="'B'">{{ 'OPTIONS.BUILDING' | translate }}</mat-option>
                        <mat-option [value]="'P'">{{ 'OPTIONS.PLAZA' | translate }}</mat-option>
                        <mat-option [value]="'V'">{{ 'OPTIONS.Villa' | translate }}</mat-option>
                        <mat-option [value]="'W'">{{ 'OPTIONS.Warehouse' | translate }}</mat-option>
                        <mat-option [value]="'H'">{{ 'OPTIONS.House' | translate }}</mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-45">
                      <mat-label>{{ 'HTML.PROPERTY_USAGE_TYPE' | translate }}</mat-label>
                      <mat-select placeholder="{{ 'HTML.PROPERTY_USAGE_TYPE' | translate }}" formControlName="propertyUsageType" id="usagetypeOpSel" >
                        <mat-option [value]="">-</mat-option>
                        <mat-option [value]="'F'">{{ 'OPTIONS.Family_Residential' | translate }}</mat-option>
                        <mat-option [value]="'P'">{{ 'OPTIONS.Personel_Residential' | translate }}</mat-option>
                        <mat-option [value]="'A'">{{ 'OPTIONS.Administrative' | translate }}</mat-option>
                        <mat-option [value]="'C'">{{ 'OPTIONS.Commercial' | translate }}</mat-option>
                        <mat-option [value]="'M'">{{ 'OPTIONS.Mix' | translate }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
                  <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>{{ 'HTML.FLOORS_NUMBER' | translate }}</mat-label>
                      <input matInput formControlName="floorsNumber">
                    </mat-form-field>
                  </div>
                  <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>{{ 'HTML.FLATS_NUMBER' | translate }}</mat-label>
                      <input matInput formControlName="flatsNumber">
                    </mat-form-field>
                  </div>
                  <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>{{ 'HTML.SHOPS_NUMBER' | translate }}</mat-label>
                      <input matInput formControlName="shopsNumber">
                    </mat-form-field>
                  </div>
                </div>

                  <!-- <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
                    <mat-form-field class="w-30">
                      <mat-label>{{ 'HTML.FLOORS_NUMBER' | translate }}</mat-label>
                      <input matInput formControlName="floorsNumber">
                    </mat-form-field>
                    <mat-form-field class="w-30">
                      <mat-label>{{ 'HTML.FLATS_NUMBER' | translate }}</mat-label>
                      <input matInput formControlName="flatsNumber">
                    </mat-form-field>
                    <mat-form-field class="w-30">
                      <mat-label>{{ 'HTML.SHOPS_NUMBER' | translate }}</mat-label>
                      <input matInput formControlName="shopsNumber">
                    </mat-form-field>
                  </div> -->

                  <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
                    <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
                      <mat-form-field appearance="outline" class="w-100">
                          <mat-label>{{ 'HTML.STORES_NUMBER' | translate }}</mat-label>
                          <input matInput formControlName="storesNumber">
                      </mat-form-field>
                    </div>
                    <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
                      <mat-form-field appearance="outline" class="w-100">
                          <mat-label>{{ 'HTML.ELEVATORS_NUMBER' | translate }}</mat-label>
                          <input matInput formControlName="numberOfElevators">
                      </mat-form-field>
                    </div>
                    <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
                      <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{ 'HTML.PARKINGLOTS_NUMBER' | translate }}</mat-label>
                        <input matInput formControlName="numberOfParkingLots">
                      </mat-form-field>
                    </div>
                  </div>

                  <!-- <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
                    <mat-form-field class="w-30">
                        <mat-label>{{ 'HTML.STORES_NUMBER' | translate }}</mat-label>
                        <input matInput formControlName="storesNumber">
                    </mat-form-field>
                    <mat-form-field class="w-30">
                        <mat-label>{{ 'HTML.ELEVATORS_NUMBER' | translate }}</mat-label>
                        <input matInput formControlName="numberOfElevators">
                    </mat-form-field>
                    <mat-form-field class="w-30">
                      <mat-label>{{ 'HTML.PARKINGLOTS_NUMBER' | translate }}</mat-label>
                      <input matInput formControlName="numberOfParkingLots">
                  </mat-form-field>
                  </div> -->

                  <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
                    <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
                      <mat-form-field appearance="outline" class="w-100">
                          <mat-label>{{ 'HTML.ENTERINGGATE_NUMBER' | translate }}</mat-label>
                          <input matInput formControlName="enteringGate">
                      </mat-form-field>
                    </div>
                    <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
                      <mat-form-field appearance="outline" class="w-100">
                          <mat-label>{{ 'HTML.PROPERTY_AREA' | translate }}</mat-label>
                          <input matInput formControlName="buildingArea">
                      </mat-form-field>
                    </div>
                    <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
                      <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{ 'HTML.MEASURING_UNIT' | translate }}</mat-label>
                        <mat-select placeholder="{{ 'HTML.MEASURING_UNIT' | translate }}" formControlName="measuringUnit" id="measureUnitOpSel" >
                          <mat-option [value]="">-</mat-option>
                          <mat-option [value]="'M'">{{ 'OPTIONS.Meter' | translate }}</mat-option>
                          <mat-option [value]="'C'">{{ 'OPTIONS.Carat' | translate }}</mat-option>
                          <mat-option [value]="'A'">{{ 'OPTIONS.Acre' | translate }}</mat-option>
                          <mat-option [value]="'K'">{{ 'OPTIONS.KiloMeter' | translate }}</mat-option>
                          <mat-option [value]="'F'">{{ 'OPTIONS.Foot' | translate }}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>

                  <!-- <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-select formControlName="features" multiple placeholder="Select Features"  (selectionChange)="onFeatureSelectionChange($event)">
                            <mat-option>-</mat-option>
                            <mat-option *ngFor="let featureCTT of BuildFeatures" [value]="featureCTT.id">
                                    <span>{{featureCTT.CTTSubjectName}}</span>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                  </div> -->

                  <!-- <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Features</mat-label>
                        <mat-select formControlName="features" multiple  (selectionChange)="onFeatureSelectionChange($event)">
                            <mat-select-trigger>{{selectedFeatures}}</mat-select-trigger>
                            <mat-option *ngFor="let featureCTT of BuildFeatures" [value]="featureCTT.CTTSubjectName">
                                <div fxLayout="row" fxLayoutAlign="space-between center">
                                    <span>{{featureCTT.CTTSubjectName}}</span>
                                </div>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                  </div> -->

                  <!-- <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
                    <mat-form-field class="w-30">
                        <mat-label>{{ 'HTML.ENTERINGGATE_NUMBER' | translate }}</mat-label>
                        <input matInput formControlName="enteringGate">
                    </mat-form-field>
                    <mat-form-field class="w-30">
                        <mat-label>{{ 'HTML.PROPERTY_AREA' | translate }}</mat-label>
                        <input matInput formControlName="buildingArea">
                    </mat-form-field>
                    <mat-form-field class="w-30">
                      <mat-label>{{ 'HTML.MEASURING_UNIT' | translate }}</mat-label>
                      <mat-select placeholder="{{ 'HTML.MEASURING_UNIT' | translate }}" formControlName="measuringUnit" id="measureUnitOpSel" >
                        <mat-option [value]="">-</mat-option>
                        <mat-option [value]="'M'">{{ 'OPTIONS.Meter' | translate }}</mat-option>
                        <mat-option [value]="'C'">{{ 'OPTIONS.Carat' | translate }}</mat-option>
                        <mat-option [value]="'A'">{{ 'OPTIONS.Acre' | translate }}</mat-option>
                        <mat-option [value]="'K'">{{ 'OPTIONS.KiloMeter' | translate }}</mat-option>
                        <mat-option [value]="'F'">{{ 'OPTIONS.Foot' | translate }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div> -->

                </div>
            </mat-tab>

            <mat-tab label="{{ 'HTML.TAB_SETTINGS' | translate }}" formGroupName="settings">
                <div fxLayout="column" class="form-field-outer">
                    <mat-checkbox formControlName="isActive">{{ 'HTML.ACTIVE' | translate }}</mat-checkbox>
                    <mat-checkbox formControlName="isDeleted">{{ 'HTML.BLOCKED' | translate }}</mat-checkbox>

                </div>
            </mat-tab>
        </mat-tab-group>
    </form>

<br>
<div mat-dialog-actions>
    <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
        <button mat-raised-button color="primary" (click)="saveUpdate(buildForDisplay.id)" [mat-dialog-close]="form.value" [disabled]="!form.valid"><span *ngIf="!buildForDisplay.id">Save</span><span *ngIf="buildForDisplay.id">Update</span></button>
        <!-- <button mat-raised-button color="warn" (click)="close()">Cancel</button> -->
    </div>
</div>
