<div class="p-2">
  <mat-card>
      <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="w-100 p-3">
          <h2>Application Codes</h2>
          <button mat-raised-button color="primary" (click)="openCategoryDialog(null)">Add Code</button>
      </div>
      <mat-divider></mat-divider>
      <div class="mat-mdc-table admin-table">
          <div class="mat-mdc-header-row">
              <div class="mat-mdc-header-cell"><h2> {{ 'FIELD.NAME' | translate }} </h2></div>
              <div class="mat-mdc-header-cell"><h2> {{ 'HTML.DEFAULT' | translate }} </h2></div>
              <div class="mat-mdc-header-cell"><h2> {{ 'HTML.RELATED' | translate }} </h2></div>
              <div class="mat-mdc-header-cell"></div>
          </div>
          <div *ngFor="let cat of parentsCTTArray | paginate: { itemsPerPage: count, currentPage: page }" class="mat-mdc-row">
              <div class="mat-mdc-cell">{{cat.CTTSubjectName}}</div>
              <div class="mat-mdc-cell">
                  <mat-icon class="text-muted">{{ (cat.CTTIsDefaultValue) ? 'check_box' : 'check_box_outline_blank'}}</mat-icon>
              </div>
              <div class="mat-mdc-cell">
                {{ cat.related_Name  }}
                  <!-- {{ ( parentsCTTArray | filterById : cat.Parent_CTTKeyField )?.CTTSubjectName }} -->
              </div>
              <div class="mat-mdc-cell">
                  <div class="p-2 actions">
                      <button mat-mini-fab color="primary" matTooltip="{{ 'BTN.EDIT' | translate }}" (click)="openCategoryDialog(cat)">
                          <mat-icon>edit</mat-icon>
                      </button>
                      <button mat-mini-fab color="warn" matTooltip="{{ 'BTN.REMOVE' | translate }}" class="mx-1" (click)="remove(cat.id)">
                          <mat-icon>delete</mat-icon>
                      </button>
                  </div>
              </div>
          </div>
      </div>
  </mat-card>

  <div *ngIf="parentsCTTArray.length > 0" fxLayout="row wrap">
      <div fxFlex="100">
          <mat-card class="p-0 text-center">
              <pagination-controls class="product-pagination" autoHide="true" maxSize="5" (pageChange)="onPageChanged($event)"></pagination-controls>
          </mat-card>
      </div>
  </div>
</div>

