
<h1>Upload Image From Angular</h1>

<label>
  Title: <input type="text" (change)="onTextChanged($event)"/>
</label>
<br/>
<label>
  Image: <input type="file" (change)="onImageChanged($event.target.files)"/>
</label>
<br/>
<button (click)="newTip()">New Tips</button>
<br>
<br>
<br>
<br>
<h1>Upload Image From Angular</h1>
<br>
<br>
<div>
  <img [src]="defaultCusImage" style="width: 150px;height:200px">  
  <label for="upload" class="d-block text-center">صوره العميل</label>
  <input name="TIPPIC" (change)="handelCUSImgInput($event.target.files)" id="upload" type="file" accept="image/*">
</div>